// Variables
$website-width: 1280px;
$main-color:#333;
$light-color:#eee;
$medium-color:#ddd;
$dark-color: #222;
$current-color:#111;
$social-color:#0072b1;
$bg-image: url(/dist/img/laptopbg.jpg);