.container {
  max-width: $website-width;
  padding: 1.5rem;
  margin: auto;
  overflow: hidden;
}

//Buttons
%btn-shared {
  display: inline-block;
  padding: 0.5rem 2rem;
  transition: all 0.5s;
  border: none;
  border-radius: 0.5cm;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $light-color;
  }
  &-medium {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #333;
    background-color: $dark-color;
  }
  &-download {
    @extend %btn-shared;
    text-align: center;
    color: #f4f4f4;
    background-color: $dark-color;
  }
  &-scroll {
    @extend %btn-shared;
    float: right;
    text-align: center;
    color: #ff0000;
    background-color: $dark-color;
  }
}

#btn-scroll {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 1;
  transition: all 0.5s;
  border: none;
  outline: none;
  background-color:$dark-color;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  opacity: 75%;
}

#btn-scroll:hover {
  background-color: $social-color
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: $social-color;
}
// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $main-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $main-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $main-color;
    color: set-text-color($medium-color);
  }
}


.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  }

.text-center {
  text-align: center;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0rem;
  }
  &-2 {
    padding: 2rem 0rem;
  }
  &-3 {
    padding: 3rem 0rem;
  }
  &-4 {
    padding: 4rem 0rem;
  }
}
// Margin
.my {
  &-1 {
    margin: 1rem 0rem;
  }
  &-2 {
    margin: 2rem 0rem;
  }
  &-3 {
    margin: 3rem 0rem;
  }
  &-4 {
    margin: 4rem 0rem;
  }
}

// Timeline
.container-1 {
  margin: auto;
  max-width: 33.3%;
  overflow: auto;
  padding: 30px 30px;
  float: left;
}
.container-2 {
  margin: auto;
  max-width: 66.6%;
  overflow: auto;
  padding: 30px 30px;
  float: left;
}

.container-3{
  margin: auto;
  max-width: 33.3%;
  overflow: auto;
  padding: 30px 30px;
  float: left;
}

/* Flex items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/* Flex grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}